body {
  margin: 0;
  font-family: "Courier New",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background : linear-gradient(to bottom,#08AEEA 0%,#2AF598 100% ) fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
